@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


/* 
    - table row - linha de tabela
    - table header - cabeçalho de tabela
    - table data - dados de tabela     
    
    */

table {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    margin-bottom: 20px;
}

td {
    text-align: center;
    border: 1px solid black;
}

.turma {
    background-color: greenyellow;
    font-weight: bold;
}

.serie {
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
}

.nome {
    text-align: left;
    font-weight: bold;
    text-indent: 5px;
}

h1 {
    margin-top: 20px;
}


/* ALINHAMENTO TABELA */

section>table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}


/* text-align Alinhamento horizontal
    vertical-align - Alinhamento vertical    
*/

.vertical {
    text-align: center;
    vertical-align: middle;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
}


/* tags semanticas para tabelas 
    - thead [td,tr,th]
    - tbody [td,tr,th]
    - tfoot [td,tr,th]

*/

